# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# SQLite database files
*.sqlite

# Optional dependency directories
bower_components/
jspm_packages/

# Build output
dist/
build/

# Temporary files
*.tmp
*.temp

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Other potential files to ignore
*.tgz
*.zip
